body {
    background-color: black;
    color: white;
    padding-top: 130px;
    text-align: center;
}

.container {
    width: 650px;
    margin: auto;
}

h1, h2, h3 {
    padding-left: 150px;
}

h1 {
    font-size: 20px;
    margin-top:60px;
}
h2 {
    font-size: 26px;
    text-shadow: -2px 2px 1px #c37878;
}

h3 {
    font-size: 16px;
    margin-bottom:60px;
}

#logo {
    position: absolute;
    margin-left: -560px;
    top: 0;
}

.card {
    width: 100px;
    display: inline-block;
    margin: 10px;
    padding-top: 5px;
}

.borderDouble {
    border: 2px solid white;
    outline: 2px solid #c37878;
}

.absolute {
    position: absolute;
}
